<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles.css"/>
</head>
<body>
    <header class="navbar">
        <!-- Nav Bar and Header -->
        <h1 class="center">Ahri's Portfolio</h1>
        <nav class="center">
            <ul class="nav">
                <li><a href="../index.html">About</a></li>
                <li><a href="../projects.html">Projects</a></li>
                <li><a href="../contact.html">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="center">
            <h2>Abyssal Fishing - Game</h2>
            <div>
                <img src="../../resources/abyssal/AbyssalProject.png" alt="Image of Fishing game code" width="150"/>
                <img src="../../resources/abyssal/AbyssalMenu.png" alt="Image of Fishing game menu" width="150"/>
                <img src="../../resources/abyssal/AbyssalShop.png" alt="Image of Fishing game shop" width="150"/>
                <img src="../../resources/abyssal/AvyssalFishing.png" alt="Image of Fishing games gameplay" width="150"/>
            </div>
            <div>
                <section>
                    <h3>Summary</h3>
                    <p>
                        Abyssal Fishing is a singleplayer fishing game made with the Godot engine. You explore a small island, 
                        upgrade your fishing tools, and try to catch strange, rare fish from a bottomless abyss. As you play, 
                        you fill out your fishing guide and discover new kinds of fish. The game is meant to be relaxing and easy 
                        to pick up, with simple controls and a focus on exploring and collecting.
                    </p>
                </section>
                <section>
                    <h3>Purpose</h3>
                    <ul>
                        <li>Practice creating a complete game loop around collection, and progression.</li>
                        <li>Design and implement core mechanics such as fishing, movement, and upgrades in GDScript.</li>
                        <li>Develop a collection system for in-game progression and replayability.</li>
                        <li>Gain hands-on experience building a desktop game for Windows using Godot.</li>
                    </ul>
                </section>
            </div>
        </div>
    </main>
</body>
</html>