<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/styles.css"/>
</head>
<body>
    <header class="navbar">
        <!-- Nav Bar and Header -->
        <h1 class="center">Ahri's Portfolio</h1>
        <nav class="center">
            <ul class="nav">
                <li><a href="../index.html">About</a></li>
                <li><a href="../projects.html">Projects</a></li>
                <li><a href="../contact.html">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="center">
            <h2>Lytheria - Discord Bot</h2>
            <div>
                <img src="../../resources/lytheria/LytheriaDatabase.png" alt="Image of Lytherias database code" width="150" />
                <img src="../../resources/lytheria/LytheriaCode.png" alt="Image of Lytherias CSharp code" width="150" />
                <img src="../../resources/lytheria/LytheriaPlaying.png" alt="Image of Lytheria playing music and displaying in Discord text" width="150" />
                <img src="../../resources/lytheria/LytheriaHelp.png" alt="Image of Lytherias help menu" width="150" />
            </div>
        </div>
        <div>
            <section>
                <h3>Summary</h3>
                <p>
                    Lytheria is a personal Discord bot created as a summer side project for use between 
                    myself and a close group of friends. It is written in C# and built using plugins such 
                    as DSharp and Lavalink to provide a fully functional and responsive music system.
                    Lytheria offers quality-of-life features, customizable playlists, and persistent user data.
                </p>
            </section>
            <section>
                <h3>Purpose</h3>
                <ul>
                    <li>Implementing Discord bot architecture using C#</li>
                    <li>Integrating music playback via Lavalink</li>
                    <li>Event handling for commands and user interactions</li>
                    <li>Using an SQL database to store user data, songs, playlists, and bot settings</li>
                    <li>Allowing users to curate and save playlists for later sessions</li>
                    <li>Error handling and logging for improved bot stability</li>
                </ul>
            </section>
        </div>

    </main>
</body>
</html>