<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahri's Portfolio</title>
    <link rel="stylesheet" href="../../styles/styles.css"/>
</head>
<body>
    <header class="navbar">
        <!-- Nav Bar and Header -->
        <h1 class="center">Ahri's Portfolio</h1>
        <nav class="center">
            <ul class="nav">
                <li><a href="../index.html">About</a></li>
                <li><a href="../projects.html">Projects</a></li>
                <li><a href="../contact.html">Contacts</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="center">
            <h2>Synthwave</h2>
            <div>
                <img src="../../resources/synthwave/synthmenu.png" alt="Image of Synthwave's menu screen" width="150" />
                <img src="../../resources/synthwave/synthcontrols.png" alt="Image of Synthwave's control screen" width="150" />
                <img src="../../resources/synthwave/synthgame.png" alt="Image of Syntwave's game screen" width="150" />
                <img src="../../resources/synthwave/synthgameover.png" alt="Image of Synthwave's game over screen" width="150" />
            </div>
            <div>
                <div>
                    <section>
                        <h3>Summary</h3>
                        <p>
                            Synthwave is a wave survival game where you must survive and increase your score as enemies spawn more frequently. 
                            The main goal is to survive as long as possible and try to get a new high score each time.
                        </p>
                    </section>
                    <section>
                        <h3>Purpose</h3>
                        <ul>
                            <li>Event handling</li>
                            <li>Using dispatch timers</li>
                            <li>Project organization, such as class separation</li>
                            <li>Building XAML via C#</li>
                            <li>Implementation of lists for managing game objects, sorting high scores, and filtering entries</li>
                            <li>Data transfer objects such as: HighScore.cs, Collectible.cs, Projectile.cs, and GamePiece.cs</li>
                            <li>Error handling</li>
                            <li>Using File IO to store data locally</li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </main>
</body>
</html>