/*
COLOURS:
Azure Mist: #ecf8f8
Alabaster Grey: #eee4e1
Almond Cream: #e7d8c9
Almond Silk: #e6beae
Camel: #b2967d MAYBE
*/


/* TAGS */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eee4e1;
}

main {
    flex: 1;
    background-color: #e7d8c9;
    margin: 0 auto;
    width: 75%;
    box-sizing: border-box;
    min-height: 100vh;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #b2967d;
    padding: 12px 0;
}

h1 {
    margin: 0%;
    padding-top: 10px;
    font-size: 3em;
    text-align: center;
}

li {
    padding: 7px 15px 15px 0px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}

/* CLASSES */
.navbar{
    background-color: #b2967d;
    margin: 0%;
}

.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav a {
    color: black;
    text-decoration: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: flex-start;
    width: 90%;
    font-size: 1.2em;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1200px;       
    margin: 0 auto;         
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%;
    padding: 10px;
    margin: 30px;
    background-color: #b2967d;
}

.portrait img {
    padding-top: 27px;
    width: 300px;
}

.info {
    display: grid;
    grid-template-columns: auto 1fr;
}

.info section {
    padding-right: 75px;
}

/* VIEWPORTS */